<header class="header-login">
  <nav class="header-login-nav group">
    <h1 class="header-login-logo">
      facebook
    </h1>

    <form class="login" action="<%=session_url%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

      <ul class="login-list group">
          <li class="form-email"> <label id="form-email">Email</label>
            <input class="email-login" type="email" name="user[email]">
          </li>

          <li class="form-password"> <label id="form-password">Password</label>
            <input class="password-login" type="password" name="user[password]">
          </li>

          <li class="form-login">
            <button class="login-button">Log In</button>
          </li>

      </ul>
    </form>

    <form class="guest-login" action="<%=session_url%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      
      <input type="hidden" name="user[email]" value="srogers@url.com">
      <input type="hidden" name="user[password]" value="password">
      <button class="guest-login-button">Guest Log In</button>
    </form>

  </nav>
</header>

<main class="content-login group">
  <section class="content-introduction">

  </section>

  <section class="content-signup">
    <h1 class="signup-logo">Sign Up</h1>
    <form class="signup" action="<%=users_url%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

      <ul class="signup-list group">
          <li class="form-name"> 
            <label id="label-first-name">First Name</label>
              <input id="input-first-name" type="text" name="user[first_name]" value="">
            <label id="label-last-name">Last Name</label>
              <input id="input-last-name" type="text" name="user[last_name]" value="">
          </li>

          <li class="form-email"> <label id="label-email">Email</label>
            <input id="input-email" type="email" name="user[email]" value="">
          </li>

          <li class="form-password"> <label id="label-password">Password</label>
            <input id="input-password" type="password" name="user[password]" value="">
          </li>

          <li class="form-signup">
            <button class="signup-button">Sign Up</button>
          </li>
      </ul>
    </form>
  </section>

</main>


