<ul id="about-list">
	<li class="sex">
		<label>Sex</label>
	    <% if(FacebookApp.Models.currentUser.get('id') === user.get('id')) { %>
			<button type="button" class="btn btn-xs edit" data-attr="sex">
        	<span class="glyphicon glyphicon-pencil"></span>
        </button>
        <% } %>

		<div class="show-sex"> <%=user.escape("sex") %> 

		</div>
		 
		 <form class="form-sex hidden">
		    <select name="select-status">
			 	<option value="" selected></option>
			 	<option value="Male">Male</option>
			 	<option value="Female">Female</option>
			 </select>
			 <input class="save" data-attr="sex"type="button" value="Save" onclick="var s = this.form.elements['select-status'];
    			this.form.elements['selected-status'].value = s.options[s.selectedIndex].textContent">
		    <input class="sex" type="hidden" name="selected-status" value="">

 		 </form>
	</li>


	<li class="relationship-status"> <label>Relationship Status</label>
		<% if(FacebookApp.Models.currentUser.get('id') === user.get('id')) { %>
			<button type="button" class="btn btn-xs edit" data-attr="relationship_status">
        		<span class="glyphicon glyphicon-pencil"></span>
        	</button>
		<% } %>
		<div class="show-relationship_status">  <%=user.escape("relationship_status") %> 
		</div> 

		 <form class="form-relationship_status hidden">
			 <select name="select-status">
			 	<option value="" selected></option>
			 	<option value="Single">Single</option>
			 	<option value="In a Relationship">In a Relationship</option>
			 	<option value="Married">Married</option>
			 	<option value="It's Complicated">It's Complicated</option>
			 </select>
			 <input class="save" data-attr="relationship_status"type="button" value="Save" onclick="var s = this.form.elements['select-status'];
    			this.form.elements['selected-status'].value = s.options[s.selectedIndex].textContent">
		    <input class="relationship_status" type="hidden" name="selected-status" value="">
		</form>
	</li>

	<li class="education"> 
		<label>Education</label>
	    <% if(FacebookApp.Models.currentUser.get('id') === user.get('id')) { %>
			<button type="button" class="btn btn-xs edit" data-attr="education">
        		<span class="glyphicon glyphicon-pencil"></span>
        	</button>
		<% } %>
		<div class="show-education"> <%=user.escape("education") %> 
		</div> 

		 <form class="form-education hidden">
		    <input class="education field" type="text" value="<%=user.escape("education")%>">
		    <button class="save" data-attr="education">Save</button>
 		 </form>
	</li>

	<li class="employer"> 
		<label>Employer</label>
	    <% if(FacebookApp.Models.currentUser.get('id') === user.get('id')) { %>
			<button type="button" class="btn btn-xs edit" data-attr="employer">
        		<span class="glyphicon glyphicon-pencil"></span>
        	</button>
		<% } %>

		<div class="show-employer"> <%=user.escape("employer") %> 
		</div> 
		 
		 <form class="form-employer hidden">
		    <input class="employer field" type="text" value="<%=user.escape("employer")%>">
		    <button class="save" data-attr="employer">Save</button>
 		 </form>
	</li>

	<li class="hometown"> 
		<label>Hometown</label> 
	    <% if(FacebookApp.Models.currentUser.get('id') === user.get('id')) { %>
			<button type="button" class="btn btn-xs edit" data-attr="hometown">
        		<span class="glyphicon glyphicon-pencil"></span>
        	</button>
		<% } %>

		<div class="show-hometown"> <%=user.escape("hometown") %> 
		</div> 

		 <form class="form-hometown hidden">
		    <input class="hometown field" type="text" value="<%=user.escape("hometown")%>">
		    <button class="save" data-attr="hometown">Save</button>
 		 </form>

	</li>

	<li class="current-city"> 
		<label>Current City</label> 
	    <% if(FacebookApp.Models.currentUser.get('id') === user.get('id')) { %>
			<button type="button" class="btn btn-xs edit" data-attr="current_city">
        		<span class="glyphicon glyphicon-pencil"></span>
        	</button>
		<% } %>

		<div class="show-current_city"> <%=user.escape("current_city") %> 
		</div> 

		 <form class="form-current_city hidden">
		    <input class="current_city field" type="text" value="<%=user.escape("current_city")%>">
		    <button class="save" data-attr="current_city">Save</button>
 		 </form>
	</li>
	
	<li class="about-me"> 
		<label> About Me </label> 		
	    <% if(FacebookApp.Models.currentUser.get('id') === user.get('id')) { %>
			<button type="button" class="btn btn-xs edit" data-attr="about_me">
        		<span class="glyphicon glyphicon-pencil"></span>
        	</button>
		<% } %>

		<div class="show-about_me">	 <%=user.escape("about_me") %> 
		</div> 

		 <form class="form-about_me hidden">
		 	<textarea class="about_me" type="text" value="<%=user.escape("about_me")%>">

		 	</textarea>
		    <button class="save" data-attr="about_me">Save</button>
 		 </form>
	</li>

</ul>