<header class="header group">

  <nav class="header-nav group">
    <h1 class="header-logo">
      <a href="#/feed">facebook</a>
    </h1>

    <ul class="header-nav-links group">
        <li class="home">
          <a href="#/feed">Home</a>
        </li>

        <li class="profile">
          <a href="#/users/<%=Herobook.Models.currentUser.get('id')%>"><%=Herobook.Models.currentUser.escape('first_name')%></a>
        </li>

      <li><a id="account-nav" data-link='.account-nav-links'>Account </a>
            <ul class="account-nav-links hidden group">
              <li><a class="logout">Logout</a></li>
            </ul>
      </li>
    </ul>
  </section>
</header>

<section class="content-search"> </section>

<div class="photos">
  <div class="cover-photo group" style="background-image: url(<%= user.escape('cover_photo') %>);
    background-size: cover;
       background-position: center center;">

    <div class="profile-photo"
      style = "background-image: url(<%= user.escape('profile_photo') %>);
      background-size: cover;
         background-position: cover;">

      <% if (Herobook.Models.currentUser.get('id') === user.get('id')) { %>
        <button class="change-profile-photo glyphicon glyphicon-camera" style="color:white"> </button>
      <% } %>
    </div>
    <header class="profile-name"><%=user.escape('first_name')%> <%=user.escape('last_name')%></header>
    <% if (Herobook.Models.currentUser.get('id') === user.get('id')) { %>
      <button class="change-cover-photo btn-sm btn-default">Update Cover</button>
    <% } %>
  </div>
</div>

<main class="content-profile group">
    <section class="content-profile-sidebar group">
      <section class="request-buttons"></section>

      <ul class="content-profile-sidebar-links">
        <li class="wall-tab"> <a data-tab=".wall">Wall</a> </li>
        <li class="about-tab"> <a data-tab=".about">About</a> </li>
        <li class="friendlist-tab"> <a data-tab=".friendlist">Friends</a> </li>
      </ul>

      <% if (Herobook.Models.currentUser.get('id') === user.get('id')) { %>
        <label class="friend-requests-label"> Friend Requests: </label>
        <ul class="friend-requests"></ul>
      <% } %>
    </section>



  <section class="content-profile-main group">

    <section class="wall">
      <div class="post-form"></div>
      <div class="posts"></div>
    </section>


  </section>

</main>
