<div class="comment">
  <%= comment.escape('body') %>
  <br>
  <div class="comment-added-by">
    Added by
    <% if(FacebookApp.Models.currentUser.get('id') === comment.get('author_id')) { %>
        <a href="#/users/<%=comment.get('author_id')%>"> you </a>
      <%} else { %>
        <a href="#/users/<%=comment.get('author_id')%>"> <%= comment.get('author').email %> </a>
      <% } %>
  </div>

  <br>
  <%= comment.likes().length %>
  <br>
  <% if(comment.get('likeStatus') === 'unliked') {%>
    <button class="like-comment">Like Comment</button>
  <% } else{ %>
    <button class="unlike-comment">Unlike Comment</button>
  <% } %>

  <button class="delete-comment" data-id="<%= comment.get('id') %>">Remove Comment</button>
</div>
