<div class="comment">
  <div class="profile-avatar" style = "background-image: url(<%= comment.get('author').profile_photo %>);
    background-size: cover;
       background-position: cover;">
  </div> 
  <div class="comment-body"> <%= comment.escape('body') %> </div>
  <div class="comment-added-by">
    Added by
    <% if(FacebookApp.Models.currentUser.get('id') === comment.get('author_id')) { %>
        <a href="#/users/<%=comment.get('author_id')%>"> you </a>
      <%} else { %>
        <a href="#/users/<%=comment.get('author_id')%>"> <%= comment.get('author').first_name %> <%= comment.get('author').last_name %></a>
      <% } %>
  </div>

  <div class="comment-likes-count">
    <% if (comment.likes().length === 1) { %>
      <%= comment.likes().length %> person likes this
    <% } else if (comment.likes().length > 1) { %>
      <%= comment.likes().length %> people like this
    <% } %>  
  </div>

  <% if(comment.get('likeStatus') === 'unliked') {%>
    <button class="like-comment">Like Comment</button>
  <% } else{ %>
    <button class="unlike-comment">Unlike Comment</button>
  <% } %>

  <button class="delete-comment" data-id="<%= comment.get('id') %>">Remove Comment</button>
</div>
