<h1> <%=@user.email%>'s Profile Page </h1>

<ul>
  <% current_user.posts.each do |post| %>
    <li>
      <%= post.body %>
      <%= link_to "Edit", edit_post_url(post) %>
      <%= link_to "Remove", post_url(post), :method => :delete %>
    </li>
  <% end %>
</ul>
<br>
<br>
<br>
<%= link_to "Add Post", new_post_url %>
