<!DOCTYPE html>
<html>
<head>
  <title>MyFacebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <script src="http://api.filepicker.io/v1/filepicker.js"></script>
   <script> filepicker.setKey("AStUZUORtTSKmdQvBnqyYz"); </script>
  <%= csrf_meta_tags %>
</head>

<body>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

<br>
<br>

</body>
</html>
